#ficha{
    .bg-ficha{
        background-color: #2e4f2a;
    }
    #header-ficha{
        min-height: 480px;
    }
    .center{
        text-align: center;
    }
    .pt-80{
        padding-top: 80px;
    }
    .pt-20{
        padding-top: 10px;
    }
    .pb-20{
        padding-bottom: 20px;
    }
    .img-circle{
        width: 170px;
        height: 180px;
        border-radius: 100px;                      
    }
    .font-18{
        font-size: 18px;
    }
    .font-12{
        font-size: 14px;
    }
}