.bg-ficha{
    background-color: #2e4f2a;
}
#topjugadores{    
    border-top: 2px solid #7f7f7f;
    border-left: 2px solid #7f7f7f;
    border-right: 2px solid #7f7f7f;
    .pull-left{
        float: left;
    }
    .position-text-jugadores{ 
        margin-top: -43px;
        margin-left: 55px;
    }
}
#jugadores{
    #content-jugadores{
        border-bottom: 2px solid #7f7f7f;
        border-left: 2px solid #7f7f7f;
        border-right: 2px solid #7f7f7f;
    }
    .pull-left{
        float: left;
    }
    .position-text-jugadores{
        margin-top: -43px;
        margin-left: 55px;
    }
    .center{
        text-align: center !important;
    }
    .img-circle{
        width: 180px;
        height: 180px;
        border-radius: 100px;           
        margin-left:25%;       
    }
     .bg-pasto{
        background-image: url('../../assets/images/bg-pasto.jpg');
    }
    .img-circle img{
        margin-top:30px;
        width: 96px; 
        height: auto;
    }
    .icon-jugadores{
        font-size: 2em; 
        color: #fff;
    }
    .li-jugadores{
        list-style-type: none; 
        margin-left: -40px;        
    }
    .mt-5pc{
        margin-top: 5%;
    }
    .pb-8-pc{
        padding-bottom: 3%;
    }
    .pt-8-pc{
        padding-top: 3%;
    }
    @media (min-width:768px) and (max-width: 991px) {
        /* .col-xs-4{
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }     */
        .img-circle{
            width: 150px;
            height: 150px;
            border-radius: 100px;           
            margin-left:15%;       
        }
        .img-circle img{
            margin-top:25px;
            width: 80px; 
            height: auto;
        }
    }
    @media (min-width:576px) and (max-width: 767px) {
        /* .col-xs-4{
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }     */
        .img-circle{
            width: 130px;
            height: 130px;
            border-radius: 100px;           
            margin-left:15%;       
        }
        .img-circle img{
            margin-top:25px;
            width: 65px; 
            height: auto;
        }
    }
    @media (min-width:468px) and (max-width: 575px) {
        /* .col-xs-4{
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }     */
        .img-circle{
            width: 100px;
            height: 100px;
            border-radius: 100px;           
            margin-left:15%;       
        }
        .img-circle img{
            margin-top:25px;
            width: 45px; 
            height: auto;
        }
        .col-xs-4{
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }   
    }
    
}