#sidebar{
  .pr-30{
    padding-right: 30px;
  }
  .font-22{
    font-size: 22px !important;
  }
  .header{
      background-color: rgb(253, 189, 45);
      height: 200px;      
  }
  .header .content-logo{
    position: relative;
    top: 15% !important;  
    text-align: center;
  }
  .header .text-perfil{
    position: relative;
    top: 15% !important;  
    text-align: center;
  }
  /* The sidebar menu */
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f1f1f1; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    //padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
    
  /* The sidebar links */
  .sidebar a {
    padding: 18px 8px 18px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #686868;
    display: block;
    transition: 0.3s;
    font-weight: bold;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #4688f1;
    background-color: #e8e8e8 !important;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 8px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  /*NAV LATERAL*/
  .header nav {
    background-color: #f1f1f1 !important;
    width: 20% !important;
    height: 100% !important;
    margin: 0 !important;
    position: fixed;
  }
}