#estadisticas{
    .header-box{
        background-color: #7f7f7f !important;
    } 
    .bg-pasto{
        background-image: url('../../assets/images/bg-pasto.jpg');
    }
    .border-table-tabla-general{
        border:2px solid #7f7f7f;
    }
    .center{
        text-align: center;
    }
    .font-32{
        font-size: 32px;
    }
    .font-24{
        font-size: 24px;
    }
    .row-tabla-general{
        padding-top: 5rem !important;
        padding-bottom: 5rem !important;
    }
    .table td {
        padding: 1.8rem .75rem;
        border-top: 1px solid #7f7f7f;
    }
}