#copamx{
    .header-box{
        background-color: #7f7f7f !important;
    }

    .header-box h4{
        font-size: 18px;
        padding-bottom: 3px;
        padding-left: 20px;
        font-weight: bold;
        color: #fff;
    }

    .content{
        background-image: url('../../assets/images/bg-pasto.jpg');    
    }    
    .font-18{
        font-size: 18px;
    }
    .font-42{
        font-size: 42px;
    }
    .pt-20{
        padding-top: 20px;
    }
    .li-games{
        list-style-type: none; 
        margin-left: -40px;
    }
    .icon-games{
        font-size: 2em; 
        color: #fff;
    }
    .mt-10-pc{
        margin-top: 10%;
    }
    .mt-score{
        margin-top: 3%;
    }
    .img-64x64{
        width: 64px;
        height: 64px;
    }

    @media (max-width:578px){
        .icon-games{
            font-size: 1.5em; 
            color: #fff;
        }
        .font-18{
            font-size: 14px;
        }
        .img-128x128{
            width: 64px;
            height: 64px;
        }
        .font-42{
            font-size: 32px;
        }
        .col-xs-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}