<div id="copamx">    
    <div class=""  *ngFor="let item of arrayJuegos">
        <div class="row header-box">
            <h4>{{ item.mes }}</h4>            
        </div>
        <div class="content row pt-20"  *ngFor="let juego of item.elements">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3 col-xs-3 col-sm-3" align="center">
                        <!-- fecha -->
                        <ul class="li-games">
                            <li>
                                <span class="icon-games">
                                    <i class="far fa-calendar-alt"></i>
                                </span>
                            </li>
                            <li>
                                <span class="text-white font-18">{{ getNumberDate(juego.datetime) }}</span>
                            </li>
                            <li>
                                <span class="text-white font-18">{{ getDayDate(juego.datetime) }}</span>
                            </li>
                        </ul>                        
                    </div>
                    <div class="col-md-3 col-xs-3 col-sm-3" align="center">
                        <!-- logo equipo -->
                        <div class="img-logo-lista mt-10-pc">
                            <ul class="li-games">
                                <li>
                                    <img [src]="'assets/images/logo_venados_yucatan.png'" 
                                    alt="" class="img-64x64">
                                </li>
                                <li>
                                    <span class="text-white">Venados F.C.</span>
                                </li>
                            </ul>
                           
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3 col-sm-3 mt-score" align="center">                        
                        <!-- marcador -->
                        <strong><span class="font-42 text-white">{{ juego.home_score }} - {{ juego.away_score }}</span></strong>
                    </div>
                    <div class="col-md-3 col-xs-3 col-sm-3" align="center">
                        <!-- logo equipo -->   
                        <div class="img-logo-lista mt-10-pc">     
                            <ul style="list-style-type: none; margin-left: -40px;">
                                <li>
                                    <img class="img-64x64" src="{{ juego.opponent_image }}" alt="">
                                </li>
                                <li>
                                    <span class="text-white">{{ juego.opponent }}</span>
                                </li>
                            </ul>              
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
