<div id="ficha">
    <div class="row bg-ficha center" id="header-ficha">
        <div class="col-md-12">
            <h4 class="text-white center pt-80 pb-20">
                FICHA TÉCNICA 
            </h4>
            
            <img class="img-circle"  src="{{ informacionjugador.image }}" alt="Foto de Jugador">
            
            <p class="text-white pt-20">
                {{informacionjugador.name}} {{ informacionjugador.first_surname }} {{ informacionjugador.second_surname}}
            </p>
            <p class="text-white">
                {{informacionjugador.position}}
            </p>
        </div>
        <div class="col-md-12"  align="center">
            <div class="row" style="background-color: #fff;">
                <div class="col-md-12" align="center">
                    <h4 class="center text-muted font-18 pt-20">
                        FECHA DE NACIMIENTO
                        <br>
                        <span class="font-12">{{ informacionjugador.birthday }}</span>
                    </h4>
                    <h4 class="center text-muted font-18 pt-20">
                        LUGAR DE NACIMIENTO
                        <br>
                        <span class="font-12">{{ informacionjugador.birth_place }}</span>
                    </h4>
                    <h4 class="center text-muted font-18 pt-20">
                        PESO
                        <br>
                        <span class="font-12">{{ informacionjugador.weight }} KG</span>
                    </h4>
                    <h4 class="center text-muted font-18 pt-20">
                        ALTURA
                        <br>
                        <span class="font-12">{{ informacionjugador.height }} M</span>
                    </h4>
                    <h4 class="center text-muted font-18 pt-20 pb-20">
                        EQUIPO ANTERIOR
                        <br>
                        <span class="font-12">{{ informacionjugador.last_team}}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div> 
</div>