<div class="container" style="border:1px solid grey;">
    <sidebar #sidebar></sidebar>
</div>
<div class="container">
    <div id="estadisticas" (click)="sidebar.closeSideBar()">
        <div class="row">
        <table class="table border-table-tabla-general" style="width: 100%;">
            <thead class=" header-box text-white">
                <tr>
                    <th colspan="3">Tabla General</th>
                    <th class="center">JJ</th>
                    <th class="center">DG</th>
                    <th class="center">PTS</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-pasto text-white" *ngFor="let estadistica of estadisticas">
                    <td class="center"><span class="font-32"><strong>{{ estadistica.position}}</strong></span></td>
                    <td><img src="{{estadistica.image}}" alt=""></td>
                    <td><span class="font-24"><strong>{{ estadistica.team }}</strong></span></td>
                    <td class="center"><span class="font-24"><strong>{{ estadistica.games }}</strong></span></td>
                    <td class="center"><span class="font-24"><strong>{{ estadistica.score_diff }}</strong></span></td>
                    <td class="center"><span class="font-24"><strong>{{ estadistica.points }}</strong></span></td>
                </tr>               
            </tbody>
        </table>          
        </div>
    </div>
</div>

