<div class="container" style="border: 2px solid #7f7f7f">
    <sidebar #sidebar></sidebar>
    <div id="home" (click)="sidebar.closeSideBar()">
        <header>
            <div class="container-log" align="center">
                <img [src]="'assets/images/logo_venados_yucatan.png'" 
                alt="Logo Venados"
                width="25%"
                height="auto">
            </div>             
        </header>
        <section id="tabs">
            <div class="row">
                <div id="copamx" class="col-md-6 col-sm-6 col-6 cel-btn-tab active" align="center" (click)="selectTab('copamx')">
                    <strong>COPA MX</strong>
                </div>
                <div id="ascensomx" class="col-md-6 col-sm-6 col-6 cel-btn-tab" align="center" (click)="selectTab('ascensomx')">
                    <strong>ASCENSO MX</strong>
                </div>
                <div id="copa" class="col-md-12" *ngIf="showCopa">
                    <copa></copa>              
                </div>
                <div id="ascenso" class="col-md-12" *ngIf="showAscenso">
                    <ascenso></ascenso>
                </div>
            </div>
        </section>
    </div>
</div>