<div id="topjugadores" class="container">
    <sidebar #sidebar></sidebar>
    <h3 class="pull-left position-text-jugadores">Jugadores</h3>
</div>
<div id="jugadores" (click)="sidebar.closeSideBar()">
    <div id="content-jugadores" class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 center pb-8-pc pt-8-pc" *ngFor="let jugador of allJugadores">
                <a role="button" (click)="detalleJugador(jugador)"  data-toggle="modal" data-target="#modal-show">
                    <div class="img-circle bg-pasto" >
                        <img src="{{ jugador.image }}" alt="">
                    </div>
                
                    <div class="info-jugador mt-5pc">
                        <ul class="li-jugadores">
                            <li>{{ jugador.position }}</li>
                            <li>{{jugador.name}} {{ jugador.first_surname }} {{ jugador.second_surname}}</li>
                        </ul>                                            
                    </div> 
                </a>
            </div>
        </div>
    </div>
</div> 
<!-- Modal -->
<div class="modal fade" id="modal-show" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="padding-left: 1rem; padding: right: 1rem;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
       <!--  <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div> -->
        <div class="modal-body bg-ficha" style="padding: 1rem 1rem 0 1rem;">
            <detalle-jugador [informacionjugador] = "dataJugador"></detalle-jugador>
        </div>
        </div>
    </div>
</div>
