<div id="sidebar">    
    <div id="sidebarnav" class="sidebar">
        <div class="header">
            <div class="content-logo">
                <img [src]="'assets/images/logo_venados_yucatan.png'" 
                    alt="Logo Venados"
                    width="20%"
                    height="auto">
            </div>    
            <h4 class="text-perfil">Venados F.C. Yucatán</h4>                  
        </div>
        <a [routerLink]="['/home']" ><i class="fas fa-circle pr-30 font-22"></i>Home</a>
        <a [routerLink]="['/estadisticas']"><i class="fas fa-circle pr-30 font-22"></i>Estadísticas</a>
        <a [routerLink]="['/jugadores']"><i class="fas fa-circle pr-30 font-22"></i>Jugadores</a>            
    </div> 
    
    <div id="main">
        <button class="btn btn-lg" (click)="openSideBar()"><i class="fas fa-bars"></i></button>
    </div>
</div>
