#home{
    .hidden{
        display: none;
    }
    .cel-btn-tab{        
        border:2px solid #7f7f7f;
        padding: 1.2rem 1rem;
    }
    .active,.cel-btn-tab:hover{
        background-color: #00771e;
        color: #fff;
        cursor:pointer;
    }
    .container-log{
        padding-bottom: 40px !important;
    }
}